:root{
font-family: Arial, Helvetica;
}

body{
background-color:#0a5a8f ;
}
#titulo{
text-align: center;
color:#f5f3f3 ;
}

#descripcion{
color:#050505  ;
font-size: 18px;
}
#contenedor-1{
width:100vw;
height: 700px;
background-image: url("./img/portada\ c.jpeg");
background-repeat: no-repeat;
background-size: cover;pg
color:#fff;
}

#menu{
text-align:center;
background-color:#1298b9 ;
}
#lista-menu{
display:flex;
justify-content:center;
gap:20px;
color:#fff;
padding-top:10px;
padding-bottom:10px;
list-style:none;
}
.menu-item{
color:#fff;
font-size: 18px;
}
.enlace-menu{
text-decoration: none;
{
#contenedor-6{
display: flex;
justify-content: space-evenly;
align-items: center;
width:100vw;
height: 400px;
background-color:#590eee;
color:#fff;
margin-top: 20px;
margin-bottom:20px;

#contenedor-8{
display: flex;
justify-content: space-evenly;
align-items: center;
width:100vw;
height: 400px;
background-color:#2d63c2 ;
color:#fff;
margin-top: 20px;
margin-bottom:20px;
 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlace a Información de Mesitas del Colegio</title>
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>
    <p>Haz clic en el siguiente enlace para obtener información sobre las mesitas del colegio:</p>
    <a href="pagina-informacion-mesitas.html">Información sobre Mesitas del Colegio</a>
</body>
</html>
